body {
}

#main {
    line-height: 1.6em;
    font-size: 1.2em;
    margin: .5em;
}

#site-header {
    background-color: #DEDEDE;
    border-bottom: 2px solid #A1A1A1;
    color: #121212;
    padding: .5em .6em;
    height: 1.3em;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.2em;
}

#site-header a:active,
#site-header a:link,
#site-header a:visited {
    color: #666;
    text-decoration: none;
}

#site-header a:hover {
    color: #000;
    text-decoration: none;
}

#site-header ul {
    margin: 0;
    padding: 0;
    display: inline;
}

#site-header li {
    display: inline;
    list-style: none;
    margin-right: .3em;
}

#site-header #site-header-links {
    float: right;
}

#site-header #site-header-links li {
    border-left: .2em solid #A1A1A1;
    margin-right: 2em;
    padding-left: .5em;
}

#site-header #site-header-links li:hover {
    border-left: .2em solid #000;
}

article h1 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.7em;
}

article h2 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.5em;
}

article h3 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.4em;
}

article h4 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.2em;
}

.highlight > pre {
    padding: .4em .5em;
}

blockquote {
    margin: 0;
    background-color: #EEE;
    padding: .2em .4em;
    border-left: .2em solid #999;
}

blockquote > p {
    margin: 0;
    padding: 0;
}


code { color: darkred; }

table {
    border: 1px solid #CCC;
    font-family: monospace;
}

th, td {
    padding: 3px 6px;
    border: 1px solid #CCC;
}
