@font-face {
    font-family: "HeadingFont";
    src: url("/fonts/android_101/Android 101.otf");
    font-display: swap;
}

@font-face {
    font-family: "CommonFont";
    src: url('/fonts/comfortaa/Comfortaa-Bold.ttf');
    font-display: swap;
}

body {

}

#main {
    line-height: 1.3em;
    font-size: 1em;
    margin: 1em;
}

#site-header {
    background-color: #EEE;
    border-bottom: 2px solid #CCC;
    color: #EEE;
    margin-top: .1em;
}

.site-heading {
    letter-spacing: .1em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: none;
}

.site-heading img {
    margin: 0 .2em;
}

.site-heading a:link,
.site-heading a:hover,
.site-heading a:visited {
    color: #666;
    text-decoration: none;
}

.site-heading a:hover {
    color: #000;
    text-decoration: none;
}

article h1 {
    font-family: CommonFont;
    font-size: 1.8em;
}

article h2 {
    font-family: CommonFont;
    font-size: 1.6em;
}

article h3 {
    font-family: CommonFont;
    font-size: 1.4em;
}

article h4 {
    font-family: CommonFont;
    font-size: 1.2em;
}

.highlight > pre {
    padding: .4em .5em;
}

blockquote {
    margin: 0;
    background-color: #EEE;
    padding: .2em .4em;
    border-left: .2em solid #999;
}

blockquote > p {
    margin: 0;
    padding: 0;
}


code { color: darkred; }
