<meta name="title" content="{{ .Page.Title }}" />
<meta name="description" content="{{ .Page.Description }}" />
<meta name="keywords" content="lyle scott, lylescott, lyle, programming, resume, python, devops" />
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<meta property="og:title" content="{{ .Page.Title }}" />
<meta property="og:description" content="{{ .Page.Description }}" />
<meta property="twitter:title" content="{{ .Page.Title }}" />
<meta property="twitter:description" content="{{ .Page.Description }}" />

<link rel="stylesheet" href="/css/pure.css" />
<link rel="stylesheet" href="/css/styles.css" />
