<meta name="description" content="Personal site of Lyle Scott, III" />
<meta name="keywords" content="lyle scott, lylescott, lyle, programming, resume, python, devops" />
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<meta property="og:title" content="ls3.io" />
<meta property="og:description" content="Personal site of Lyle Scott, III" />
<meta property="twitter:title" content="ls3.io" />
<meta property="twitter:description" content="Personal site of Lyle Scott, III" />

<link rel="stylesheet" href="/css/pure.css" />
<link rel="stylesheet" href="/css/styles.css" />
