<div id="site-header">
    <ul id="site-header-name">
        <li id="site-heading"><a href="/">Lyle Scott III</a></li>
        <li>
            <a href="https://linkedin.com/in/lylescott"><img src="/img/navbar_linkedin_icon.png" alt="LinkedIn" style="vertical-align: text-bottom;" /></a>
        </li/>
    </ul>
    <ul id="site-header-links">
        <li><a href="/about">About</a></li>
        <li><a href="/consulting">Consulting</a></li>
        <li><a href="/">Posts</a></li>
    </ul>
</div>
