.wy-side-nav-search {
    background-color: #024370;
}

/*
a:link,
a:visited,
a:active {
*/

a:visited {
    color: #860065;
}

.wy-side-nav-search>a,
.wy-side-nav-search .wy-dropdown>a,
.wy-menu-vertical a {
    color: #fcfcfc;
}

.caption-text a{
    font-size: 100%;
    color: white;
    background-color: grey;
}

.wy-nav-side ul li a.reference.internal {
    font-size: 75%;
    margin-left: 20px;
}

.document a {
   color: #d7007f;
}
ul.wy-breadcrumbs li a {
   color: #d7007f;
   font-weight: bold;
}

.wy-nav-side {
    background: #024370
}

.wy-body-for-nav {
   background: #f9f9f9;
}

@media screen and (min-width: 1400px)
.wy-nav-content {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background: #fff;
   max-width: 900px;
}

.wy-side-nav-search {
   background-color: transparent;
}
